* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #ffffff;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
}

#site-wrapper {
  width: 93.6vw;
  height: fit-content;
  margin: auto;
}

header {
  margin-top: 8vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header > img {
  width: 27vw;
  height: auto;
  border-radius: 4.27vw;
}

h1 {
  font-size: 3.73vw;
  font-weight: 600;
  color: #4e5150;
  margin-top: 2.99vw;
}

h2 {
  margin-top: 0.8vw;
  font-size: 2.67vw;
  font-weight: 600;
  color: #a9a9a9;
}

#stats-list {
  margin-top: 3.2vw;
  display: flex;
  flex-direction: row;
  column-gap: 3.2vw;
}

#stats-list li {
  display: flex;
  flex-direction: column;
  width: 20.8vw;
  height: 13.86vw;
  align-items: center;
  background: #e5e5e5;
  border-radius: 3.2vw;
}

h3 {
  margin-top: auto;
  font-size: 3.2vw;
  font-weight: 600;
  color: #4e5150;
}

#stats-list li p {
  font-size: 3.2vw;
  color: #bdbdbd;
  margin-bottom: auto;
}

main > ul {
  margin-top: 10.4vw;
  list-style-type: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  column-gap: 3.2vw;
  row-gap: 3.2vw;
  grid-template-areas:
    'photo1 photo2 photo2'
    'photo3 photo3 photo4'
    'photo6 photo5 photo4';
}

main img {
  border-radius: 3.2vw;
  object-fit: contain;
  display: block;
  height: 100%;
  width: 100%;
}

#photo1-container {
  grid-area: photo1;
}

#photo2-container {
  grid-area: photo2;
}

#photo3-container {
  grid-area: photo3;
}

#photo4-container {
  grid-area: photo4;
}

#photo5-container {
  grid-area: photo5;
}

#photo6-container {
  grid-area: photo6;
}

footer {
  color: #b9bdcf;
  margin-top: 11.73vw;
  margin-bottom: 6.4vw;
  text-align: center;
  font-weight: 500;
  font-size: 3.7vw;
}
